@{
    @ViewBag.Message
}


<a class="nav-link text-dark" asp-area="" asp-controller="Coach" asp-action="NewCoach">Add new Coach</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Coach" asp-action="AllCoaches">View All Coaches Listed</a>