@{
    <div class="text-center">
        @ViewBag.Message
    </div>
    
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="AddTeam">Add new Team</a>
        </div>
        <div class="col-sm">
            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="AllTeams">View All Teams Listed</a>
        </div>
    </div>
</div>





