@{
    @ViewBag.Message
}


<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="AddTeam">Add new Team</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="AllTeams">View All Teams Listed</a>



