@using SportsData.Data.Models;
@model List<Stadium>

<table class="table">
    <thead>
        @for (int i = 0; i < Model.Count(); i++)
        {
            int line = i + 1;
            <tr>
                <th scope="col">#@line</th>
                <th scope="col">@Model[i].Name</th>
                <th scope="col">@Model[i].Capacity</th>
            </tr>
        }
    </thead>

    <a class="nav-link text-dark" asp-area="" asp-controller="Stadium" asp-action="AddStadium">Add new Stadium</a>
</table>