@{
    @ViewBag.Message
}


<a class="nav-link text-dark" asp-area="" asp-controller="Stadium" asp-action="AddStadium">Add new Stadium</a>


<a class="nav-link text-dark" asp-area="" asp-controller="Stadium" asp-action="AllStadiums">View All Stadiums Listed</a>